# Formspree Endpoint ID for Contact Page Form
NEXT_PUBLIC_FORMSPREE_ID=xzdqekqp

# Google Analytics 4 Measurement ID (looks like G-XXXXXXXXXX)
NEXT_PUBLIC_GA_ID=

# Microsoft Clarity Project ID
NEXT_PUBLIC_CLARITY_ID=
